* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e3f2fd;
    font-family: Arial, sans-serif;
}

.calculadora {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #2196f3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    background-color: #1976d2;
    color: #fff;
    font-size: 2em;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: right;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    background-color: #42a5f5;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1565c0;
    color: #fff;
}

.zero {
    grid-column: span 2;
}

@media (max-width: 400px) {
    .calculator {
        width: 100%;
        padding: 10px;
    }

    .display {
        font-size: 1.5em;
    }

    button {
        padding: 15px;
        font-size: 1.2em;
    }
}

@media (max-width: 414px) {
    .display {
        font-size: 1.2em;
    }

    button {
        padding: 10px;
        font-size: 1em;
    }
}